<div *ngIf="cart">
  <app-dynamic-toolbar
    [name]="cart.name"
    [buttons]="buttons"
    (onButtonClickEvent)="handleClick($event)">
  </app-dynamic-toolbar>

  <div class="cart-container">
    <mat-expansion-panel class="cart-additional-information-container">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <p>
            {{ "cart.status" | translate }}:
            <span [className]="cart.status | CartStatus">
              {{ cart.status | StatusLocalize }}
            </span>
          </p>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-cart-meta-information
        [cart]="cart"
        [amountOfProducts]="amountOfProducts"
        [showTitle]="false"
        [showStatus]="false"
        [showOwnerInvitation]="false"
        [showCartOptions]="false">
      </app-cart-meta-information>
    </mat-expansion-panel>

    <!--<div class="active-users-container">
      <app-name-tags [users]="activeUsers"></app-name-tags>
    </div>-->

    <app-products-list
      [cartId]="cart.id"
      [canAddProducts]="cart.status !== statusDone"
      [hideCollectedProductRows]="hideClearedProductRows"
      [socketService]="cartSocketService"
      (productAmountEvent)="updateProductAmountCounter($event)">
    </app-products-list>
  </div>

  <div class="cart-buttons">
    <button mat-raised-button class="main-button" (click)="openCartOptions()">
      <mat-icon>arrow_drop_down</mat-icon>
      {{ "cart.options.title" | translate }}
    </button>
  </div>
</div>
