<app-dynamic-toolbar
  name='{{ "cartList.title." + inEditMode | translate }}'
  [buttons]="buttons"
  (onButtonClickEvent)="handleClick($event)">
</app-dynamic-toolbar>

<div *ngIf="areCartsLoading; else showCarts">
  <mat-spinner class="carts-loading-spinner"></mat-spinner>
</div>

<ng-template #showCarts>
  <div *ngIf="!inEditMode else editCartListView">
    <div class="cart-list-container">
      <div class="cart-list">
        <div *ngFor="let cart of carts">
          <div class="cart-block mat-elevation-z9"
               [routerLink]="['/carts', cart.id]"
               ngxLongPress2 (onLongPress)="modifyCart(cart)" matRipple>
            <app-cart-meta-information
              [cart]="cart"
              [showAmountOfProducts]="false"
              [showCartParticipants]="false"
              (onOptionClick)="modifyCart(cart)">
            </app-cart-meta-information>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- TODO: add support for edit? or delete?-->
  <ng-template #editCartListView></ng-template>
</ng-template>

<app-sticky-button
  logo="add"
  (onButtonClickEvent)="createCart()">
</app-sticky-button>
