
.mat-card {
  box-shadow:
    2px 0 10px -1px rgb(0 0 0 / 25%),
    0px 0.5px 1px 0px rgb(0 0 0 / 20%),
    0px 1px 3px 1px rgb(0 0 0 / 20%) !important;
}

.mat-form-field {
  width: 100%;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.button {
  display: flex;
  justify-content: flex-end;
}
